<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574838421387-er2creftfgmmeequgbbcbnki4onv4g03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574838421387-er2creftfgmmeequgbbcbnki4onv4g03</string>
	<key>API_KEY</key>
	<string>AIzaSyDCqtTpJk0Xi4z19TanD6mplkYCIrxR5Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>574838421387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574838421387:ios:92a03117d8f551b4e6e18e</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-test.firebaseio.com</string>
</dict>
</plist>